<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Catspaw.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
</startup>
    <applicationSettings>
        <Catspaw.Properties.Settings>
            <setting name="AvrHostname" serializeAs="String">
                <value>catsav.catsnet.home</value>
            </setting>
            <setting name="AvrPort" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="AvrNetworkTimeout" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="CecAdapterTimeout" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="ApiServerPort" serializeAs="String">
                <value>33000</value>
            </setting>
        </Catspaw.Properties.Settings>
    </applicationSettings>
</configuration>
